.messageFormContainer {
  margin: 1rem 0;
}

form {
  display: flex;
}

input {
  flex-grow: 1;
}

input:focus-visible {
  outline-color: #8EC3EE;
}

.sendButton {
  border: none;
  background-color: #D23234;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}
