.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #DBDBDB;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.sidebar img {
  width: 10vmin;
}

.chatroomSidebar {
  background-color: #F4F5F4;
  padding: 0.5rem 4rem 0 1rem;

}

.chatroomSidebar h1 {
  font-size: 1.2rem;
}

.messageContainer {
  flex-grow: 1;
  padding: 0.5rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
}
